# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies for the frontend 
frontend/build/
frontend/build
/frontend/build/
/frontend/build
frontend/node_modules
/frontend/node_modules
/frontend/.next
/frontend/.env
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# dependencies for the backend 
backend/.env

# Ml models 
backend/machineLearning/models/model.joblib
/backend/machineLearning/models/model.joblib
